@import "./mixins/mixins.scss";

@include b(button-group) {
  // BEM规范
  & > .#{$namespace}-button {
    //yl-button-group > yl-button
    & {
      border-radius: 0;

      border-right: 1px solid white;
    }

    &:first-child {
      border-top-left-radius: $--border-radius-base;
      border-bottom-left-radius: $--border-radius-base;
    }
    &:last-child {
      border-top-right-radius: $--border-radius-base;
      border-bottom-right-radius: $--border-radius-base;
      border-right: none;
    }
  }
}
