@import "common/var.scss";
@font-face {
  font-family: "yl-ui"; /* Project id 4322489 */
  src: url("./fonts/iconfont.woff2") format("woff2"),
    url("./fonts/iconfont.woff") format("woff"),
    url("./fonts/iconfont.ttf") format("truetype");
}

[class^="#{$namespace}-icon-"] {
  font-family: "yl-ui" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.#{$namespace}-icon-loading:before {
  display: inline-block;
  animation: rotating 1.5s linear infinite;
}

.yl-icon-minus:before {
  content: "\e632";
}

.yl-icon-search:before {
  content: "\e69a";
}

.yl-icon-loading:before {
  content: "\e644";
}

.yl-icon-location:before {
  content: "\e790";
}

.yl-icon-star:before {
  content: "\e7df";
}

.yl-icon-location1:before {
  content: "\e7f2";
}

.yl-icon-plus:before {
  content: "\e8fe";
}

.yl-icon-arrow-down:before {
  content: "\e665";
}

.yl-icon-arrow-left-bold:before {
  content: "\e685";
}

.yl-icon-arrow-up-bold:before {
  content: "\e686";
}

.yl-icon-arrow-right-bold:before {
  content: "\e687";
}

.yl-icon-logistics-storehouse:before {
  content: "\e82e";
}

.yl-icon-sousuo:before {
  content: "\e600";
}

.yl-icon-home:before {
  content: "\e601";
}

.yl-icon-jiazai:before {
  content: "\e699";
}

.yl-icon-jiazai1:before {
  content: "\e629";
}
