@import "../mixins/config.scss";

$--border-radius-base: 5px;

$--text-color-disabled: #a8abb2;

$--border-radius-round: 20px;

$--color-primary: #409eff;
$--color-white: #ffffff;
$--color-black: #000000;
$--color-success: #67c23a;
$--color-warning: #e6a23c;
$--color-danger: #f56c6c;
$--color-info: #909399;

$--height-large: 50px;
$--height-medium: 42px;
$--height-small: 34px;
// $--height-mini: 26px;

$--padding-large: 17px;
$--padding-medium: 13px;
$--padding-small: 10px;
// $--padding-mini: 8px;

$--font-large: 18px;
$--font-medium: 16px;
$--font-small: 14px;
// $--font-mini: 12px;

$--bg-color-danger-disabled: #fab6b6;
$--bg-color-warning-disabled: #f3d19e;
$--bg-color-info-disabled: #c8c9cc;
$--bg-color-success-disabled: #b3e19d;
$--bg-color-primary-disabled: #a0cfff;

$--hover-color-primary: #79bbff;
$--hover-color-success: #95d475;
$--hover-color-info: #b1b3b8;
$--hover-color-warning: #eebe77;
$--hover-color-danger: #f89398;
$--hover-color-default: #ecf5ff;

$--active-color-primary: #337ecc;
$--active-color-success: #529b2e;
$--active-color-info: #73767a;
$--active-color-danger: #c45656;
$--active-color-warning: #b88230;

//row的响应式布局
$--sm: 768px !default;
$--md: 992px !default;
$--lg: 1200px !default;
$--xl: 1920px !default;

$--breakpoints: (
  "xs": (
    max-width: $--sm - 1,
    //<768px
  ),
  "sm": (
    min-width: $--sm,
    //>=768px
  ),
  "md": (
    min-width: $--md,
    //>=992px;
  ),
  "lg": (
    min-width: $--lg,
    //>=1200px;
  ),
  "xl": (
    min-width: $--xl,
    //>=1920px
  ),
);
